@mixin text-style($font-family, $font-size, $font-weight, $line-height: null, $color: null) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    @if $line-height {
        line-height: $line-height;
    }
    @if $color {
        color: $color;
    }
}

@mixin button-style($bg-color, $text-color, $width, $height, $border-radius: 10px) {
    background: $bg-color;
    color: $text-color;
    border: none;
    border-radius: $border-radius;
    padding: 16px 40px;
    cursor: pointer;
    width: $width;
    height: $height;
    font-family: var(--font-prim);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.15px;
}

@mixin flex-center($direction: row) {
    display: flex;
    align-items: center;
    @if $direction == column {
        flex-direction: column;
    } @else {
        flex-direction: row;
    }
}